extend includes/_layout
append variables
  - var pageTitle= "";
  - var pageDescription= "";
  - var pageOgpTitle= "";
  - var pageOgpImage= "";
  - var pageLang= "ja";
  - var pageOgpType= "website";

block content
  .wrapper
    a(href="https://twitter.com/intent/tweet?button_hashtag=作業がんばる&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false" data-size="large") Tweet #作業がんばる
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")