extend includes/_layout
append variables
  //- Required
  - var pageTitle= "";
  - var pageDescription= "";
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= "";
  - var pageLang= "ja";
  - var pageOgpType= "website";

block content
  // contents
  p Contents
  // /contents