extend includes/_layout
append variables
  - var pageTitle= "やる気を出すツイートをするページ";
  - var pageDescription= "つぶやいてやる気を出そう";
  - var pageOgpTitle= "";
  - var pageOgpImage= "";
  - var pageLang= "ja";
  - var pageOgpType= "website";

block content
  .wrapper
    .form-area
      textarea#tweet(name="tweetText" placeholder="text")
      button#tweet-btn(type="button") ツイートセット
    #tweet-area
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script(src="js/script.js")
